html {
  background:#929194 url(./img/rainbows.jpg) center center;
  background-size: cover;
  font-family:'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display:flex;
  flex:1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 50px solid rgba(75, 82, 88, 0.41);
  border-radius:50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow:
    0 0 0 5px rgba(75, 82, 88, 0.41),
    inset 0 0 0 3px rgba(170, 151, 147, 1),
    inset 0 0 15px #bb5f5f,
    0 0 50px rgba(84, 6, 124, 0.12)
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px) rotate(90deg);
}

.hand {
  width:50%;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transition: all 0.05s cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
  background:#582982;
  height: 10px;
  width: 40%;
  left: 10%;
}

.min-hand {
  background: #dcd86b;
  height: 6px;
}

.second-hand {
  background: #bb5f5f;
  height: 2px;
}
