html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /*background: #ffc600;*/
  background: #4568DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.intro {
  font-weight: 400;
  color: #ffffff;
  border: 0;
}

.inbox {
  max-width: 75%;
  margin: 10px auto;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  background: #f9f9f9;
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin:20px;
}

p {
  margin: 0;
  padding: 15px;
  transition: background 0.2s;
  flex: 1;
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #D1E2FF;
}
