body {
  color: #343737;
}

.container {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin: 0;
}

h2 {
  color: #ffffff;
  text-align: left;
  margin-bottom: 5px;
  padding: 2px;
}

.color {
  background: #40E0D0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.black {
  background: black;
}

.box {
  display: inline-block;
}

canvas {
  border: 1px solid black;
}
